<div class="row">
    <div class="col-sm-8 col-sm-offset-2 todos">
        <h1>Todos</h1>

        <hr>

        <%= form_for @todo do |f| %>

            <%= render_errors_for f %>

            <div class="form-group">
                <%= f.text_field :title, class: 'form-control', placeholder: 'What needs to be done?'  %>
            </div>

            <button type="submit" class="btn btn-primary btn-block">Create New todo</button>

        <% end %>

        <hr>

        <% todos.each do |todo| %>
            <%= form_for todo do |f| %>
                <div class="row">
                    <div class="checkbox col-xs-1">
                        <%= f.check_box :is_completed %>
                    </div>
                    <div class="form-group col-xs-9">
                        <%= f.text_field :title, class: 'form-control', placeholder: 'What needs to be done?'  %>
                    </div>
                    <div class="form-group col-xs-2">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-info">E</button>
                            <%= link_to 'D', todo_path(todo), class: 'btn btn-danger', data: { method: :delete } %>
                        </div>
                    </div>
                </div>
            <% end %>
        <% end %>

    </div>
</div>
